# -------------------- Python --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -------------------- Virtual Environment --------------------
venv/
env/
.venv/

# -------------------- Environment Variables --------------------
.env

# -------------------- Streamlit --------------------
.streamlit/
*.mp3

# -------------------- OS Files --------------------
.DS_Store
Thumbs.db

# -------------------- IDE --------------------
.vscode/
.idea/

# -------------------- Temp Files --------------------
*.tmp
*.temp
.gitignore
